<script type="text/javascript">
(function() {

var rte_config = {{ rte_config }};

var textArea = document.getElementById({{ id }});
textArea.style.height = rte_config.height;
textArea.style.width = rte_config.width;
var previewDiv = document.createElement('div');
textArea.parentNode.appendChild(previewDiv);

/***** build the preview manager *****/
var panes = {input:textArea, preview:previewDiv, output:null};
var previewManager = new Attacklab.wmd.previewManager(panes);

/***** build the editor and tell it to refresh the preview after commands *****/
var editor = new Attacklab.wmd.editor(textArea,previewManager.refresh);

})();
</script>
